# =========================
# Build results
# =========================
bin/
obj/
out/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code (opcional)
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Entity Framework / DB
# =========================
*.mdf
*.ldf

# =========================
# App settings sensibles
# =========================
appsettings.Development.json

# =========================
# Secrets
# =========================
secrets.json

# =========================
# Publish output
# =========================
publish/
wwwroot/lib/

# =========================
# Node (si usas frontend)
# =========================
node_modules/

# =========================
# Test results
# =========================
TestResults/
coverage/

# =========================
# Azure
# =========================
*.publishsettings

# =========================
# Resharper
# =========================
_ReSharper*/
*.DotSettings.user