@model Maritimo.Models.Models.OrdenesServicio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrdenesServicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUnico" class="control-label"></label>
                <input asp-for="IdUnico" class="form-control" />
                <span asp-validation-for="IdUnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarcoId" class="control-label"></label>
                <input asp-for="BarcoId" class="form-control" />
                <span asp-validation-for="BarcoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoManteniminto" class="control-label"></label>
                <input asp-for="TipoManteniminto" class="form-control" />
                <span asp-validation-for="TipoManteniminto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descipcion" class="control-label"></label>
                <input asp-for="Descipcion" class="form-control" />
                <span asp-validation-for="Descipcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechalimite" class="control-label"></label>
                <input asp-for="Fechalimite" class="form-control" />
                <span asp-validation-for="Fechalimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformeCierre" class="control-label"></label>
                <input asp-for="InformeCierre" class="form-control" />
                <span asp-validation-for="InformeCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" />
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreador" class="control-label"></label>
                <input asp-for="UsuarioCreador" class="form-control" />
                <span asp-validation-for="UsuarioCreador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCierre" class="control-label"></label>
                <input asp-for="UsuarioCierre" class="form-control" />
                <span asp-validation-for="UsuarioCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
